<div id ="student-hub" class="container-fluid">
    <div class="row d-flex align-items-center outer">
        <div class="col-12 justify-content-center text-center">

            <container-element [ngSwitch]="action">
                <some-element *ngSwitchCase="'working'">
                    <app-activity [activity]="activity" [user]='user'></app-activity>
                </some-element>
             
                <some-element *ngSwitchDefault>
                    <div class="row d-flex align-items-center">
                        <div class="col-12 justify-content-center text-center">
                            <h1>Hello {{user.firstName}}! What would you like to do?</h1>
                        </div>
                        <div class="col-12 col-lg-4 justify-content-center text-center mt-3">
                            <div (click)="setActivity('learn')" id="learn" class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Learn</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 justify-content-center text-center mt-3">
                            <div (click)="setActivity('practice')" id="practice" class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Practice</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 justify-content-center text-center mt-3">
                            <div (click)="setActivity('test')" id="test" class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Test Mastery</h5>
                                </div>
                            </div>
                        </div>
                    </div>      
                </some-element>
            </container-element>
        </div>
    </div>
</div>