<div class="container-fluid" id="start">
    <div class="row d-flex">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="register">
                  <a (click)="mode = 'register'" class="nav-link active" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
                </li>
                <li class="nav-item" role="login">
                  <a (click)="mode = 'login'" class="nav-link" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Login</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <form id="registerForm">
                        <input [formControl]="firstName" id="firstName" placeholder="First Name">
                        <input [formControl]="lastName" id="lastName" placeholder="Last Name">
                        <input [formControl]="email" id="email" placeholder="Email">
                        <input [formControl]="username" id="username" placeholder="username">
                        <input [formControl]="password" id="password" placeholder="password">

                        <button (click)="handleRegisterForm()" type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </form>
                </div>

                <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <form id="loginForm">
                        <input [formControl]="username" id="username" placeholder="username">
                        <input [formControl]="password" id="password" placeholder="password">          
                    <button (click)="handleRegisterForm()" type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>

                </div>
              </div>
        </div>
    </div>
</div>