<div class="container-fluid">
    <div id="header" class="row d-flex align-items-center mb-3">
        <div class="col-4 justify-content-center text-left">
            <h3>Beautify your recitation, master Tajweed</h3>
        </div>
        <div class="col-8">
            <img id="quran" src="../../../assets/quran.jpg" class="img-fluid">
        </div>
    </div>
  
    <div id="about" class="row d-flex align-items-start mb-3">
        <div class="col-12 justify-content-center text-center">
            <h4>Why Learn Tajweed?</h4>
        </div>
        <div class="col-12 justify-content-center text-center">
            <img src="../../../assets/alif-removebg-preview.png" class="img-fluid letters alif">
            <img src="../../../assets/jeem.jpg" class="img-fluid letters jeem">
            <img src="../../../assets/yaa.png" class="img-fluid letters yaa">
        </div>
        <div class="col-12 col-md-7 justify-content-center text-center mt-3">
            <div class="tajweed">
                <p class="quote">Aishah (ra) reports that the Messenger of Allah ﷺ said:
                    "One who is proficient with the Qur’ān is associated with the noble, obedient scribes (angels); and he who falters in it and finds it difficult (to recite), for him will be double reward." -Sahih Muslim 798a</p>
            </div>
        </div>
        
        <div class="col-12 col-md-5 justify-content-center text-center mt-3">
            <div class="tajweed">
                <p>The Quran is meant to be recited out loud. To do this properly, you must have an understanding of Tajweed (meaning "to make better"), which refers to the correct pronunciation of Arabic words. Basic Tajweed rules include focusing on clarity of expression, properly timing the syllables, and understanding how an individual letter can change the way a word is spoken.</p>
            </div>
        </div>
    </div>

    <div id="services" class="row d-flex align-items-start mb-3">
        <div class="col-12 justify-content-center text-center">
            <h4>Forge Your Own Learning Path</h4>
        </div>
        <div class="col-12 col-lg-4 justify-content-center text-center mt-3">
            <div id="learn" class="card">
                <div class="card-body">
                <h5 class="inner card-title">Learn</h5>
                <p class="inner card-text">Listen to proper pronunciation of specific rules from reciters and more.</p> 
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-4 justify-content-center text-center mt-3">
            <div id="practice" class="card">
                <div class="card-body">
                <h5 class="inner card-title">Practice</h5>
                  <p class="inner card-text">Find all instances of the rule being practiced within a specified number of ayah.</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-4 justify-content-center text-center mt-3">
            <div id="test" class="card">
                <div class="card-body">
                    <h5 class="inner card-title">Test Mastery</h5>
                  <p class="inner card-text">Test your mastery for each rule by finding it within a set of ayah.</p>
                </div>
              </div>
        </div>
        <div class="col-12 justify-content-center text-center mt-4">
            <a routerLink="/about"><button class="btn btn-success">Find out more</button></a>
        </div>
    </div>
</div>