label {
    display: block;
}

button {
    display: block;
    margin: 0 auto;
}

audio#quran {
    width: 9em;
    margin-bottom: 2.5em;
}

audio#quranRec {
    width: 12em;
}

.expl {
    width: 75%;
    margin: 0 auto;
}

.notFound {
    color: inherit;
    /* font-family: 'Times New Roman', Times, serif; */
}

.learning {
    color: red;
    /* font-family: 'Times New Roman', Times, serif; */
}

.found {
    color: rgb(29, 245, 29);
    /* font-family: 'Times New Roman', Times, serif; */
}

.missed {
    color: red;
    /* font-family: 'Times New Roman', Times, serif; */
}


.legend.found {
    width: 20%;
    display: inline-block;
    color: black;
    background-color: rgb(29, 245, 29);
}

.legend.missed {
    width: 20%;
    display: inline-block;
    color: black;
    background-color: red;
}

.legend.wrong {
    width: 20%;
    display: inline-block;
    color: black;
    background-color: pink;
}

p {
    font-size: 32px;
}

p.reg-text {
    font-size: 18px;
}


.dot {
position: absolute;
border-radius: 50%;
width: 20px;
height: 20px;
opacity: 0.5;
background-color: pink;
}

.appAyat {
    cursor: pointer;
}