<div class="row d-flex align-items-center">
  <div class="col-12 justify-content-center text-center">
    <form id="ruleChoiceForm">
      <label class="me-sm-2 sr-only" for="inlineFormRuleSelect">Rule</label>
      <select class="custom-select me-sm-2 mb-4" id="inlineFormRuleSelect" [formControl]="rule">
        <option value="ghunnah">Ghunnah</option>
        <option value="idghaam_ghunnah">Idghaam w/ Ghunnah (Noon Saakin)</option>
        <option value="idghaam_no_ghunnah">Idghaam w/ No Ghunnah (Noon Saakin)</option>
        <option value="idghaam_mutajanisayn">Idghaam Mutajaanisayn</option>
        <option value="idghaam_mutaqaribayn">Idghaam Mutaqaaribayn</option>
        <option value="idghaam_shafawi">Idghaam Shafawi (Meem Saakin)</option>
        <option value="ikhfa">Ikhfa (Noon Saakin)</option>
        <option value="ikhfa_shafawi">Ikhfa Shafawi (Meem Saakin)</option>
        <option value="idhaar">Idhaar (Noon Saakin)</option>
        <option value="idhaar_shafawi">Idhaar Shafawi (Meem Saakin)</option>
        <option value="iqlab">Iqlab</option>
        <option value="madd_246">Madd al-Aarid/al-Leen: 2, 4, 6 harakat</option>
        <option value="madd_6">Madd Laazim: 6 harakat</option>
        <option value="madd_muttasil">Madd al-Muttasil: 4, 5 harakat</option>
        <option value="madd_munfasil">Madd al-Munfasil: 4, 5 harakat</option>
        <option value="qalqalah">Qalqalah</option>
      </select>
 
      <label *ngIf="activity != 'learn'" class="me-sm-2 sr-only" for="inlineFormAyatSelect">Number of Ayat</label>
      <input *ngIf="activity != 'learn'" class="custom-select me-sm-2 mb-4" id="inlineFormAyatSelect" [formControl]="range" type="number" min="1" max="10" step="1">

      <button (click)="activity === 'learn' ?  getExplanation() : submitSelected()" type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
  </div>
</div>

<hr style="border: 2px solid gray"/>

<div class="row d-flex">
  <div *ngIf="activity === 'learn'" class="col-12 mt-3">
   <img class="expl img-fluid" src={{explanationSummary}}>
    <img class="expl img-fluid" src="{{explanationDetails}}">
    <img src="{{explanationExample}}" class="expl img-fluid">

    <audio *ngIf="explanationAudio" controls>
      <source [src]="explanationAudio" type="audio/mpeg">
    </audio>

    <div class="mt-5" *ngIf="explanationSummary" >
      <h5 class="text-center">Now your turn to practice</h5>
      <button (click)="submitSelected()" class="btn btn-primary">Get Random Ayah</button>
    </div>
    
    
  </div>
  <div class="col-12 mt-3">
    <div *ngIf="ruleCount > 0">
        <div class="mb-1">Bonus: Record Your Own Recitation</div>
        <div>
          <button class="btn btn-success mb-1" *ngIf="!isAudioRecording && !audioBlobUrl" (click)="startAudioRecording()">Start Audio Recording</button>
          <button class="btn btn-danger mb-1" *ngIf="isAudioRecording && !audioBlobUrl" (click)="stopAudioRecording()">Stop Audio Recording</button>
          <button class="btn btn-secondary mb-1" *ngIf="!isAudioRecording && audioBlobUrl" (click)="clearAudioRecordedData()">Clear Audio Recording</button>
          <button class="btn btn-primary mb-1" *ngIf="!isAudioRecording && audioBlobUrl" (click)="downloadAudioRecordedData()">Download Audio Recording</button>
          <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl"> {{ audioRecordedTime }} </div>
          <audio id="quranRec" *ngIf="!isAudioRecording && audioBlobUrl"  controls>
            <source [src]="audioBlobUrl" type="audio/mp3">
          </audio>
        </div>
      </div>
  </div>

  <div class="col-12 mt-3">
    <div *ngIf="ruleCount > 0 && activity !== 'learn'">
      <div class="legend found">Found</div>
      <div class="legend missed">Missed</div>
      <div class="legend wrong">Wrong</div>
    </div>
  </div>

  <div class="col-12 mt-3">
    <div class="mb-5" *ngIf="status === 're-submit'">
      <p class="reg-text">Oops!! These ayat don't have this rule. Please try again.</p>
    </div>

    <div *ngIf="activity !== 'test'">
      <div *ngIf="ruleCount > 0 && counter < ruleCount">
        <p class="reg-text">Score: {{counter}}/{{ruleCount}}</p>
        <p class="reg-text" style="color: pink">Wrong Clicks: {{wrongCount}}</p>
      </div>
  
      <div *ngIf="ruleCount !== 0 && counter === ruleCount">
        <p class="reg-text">Good job! You found them all.</p>
        <p class="reg-text" style="color: pink">Wrong Clicks: {{wrongCount}}</p>
      </div>
    </div>

    <div class="appAyat mt-3" #appAyat (click)='handleClick($event)'></div>

    <div *ngIf="activity === 'test'">
      <button *ngIf="ruleCount > 0 && !testComplete" (click)='showScore()' class="btn btn-primary">Calculate score</button>
      <div *ngIf="testComplete">
        <p class="reg-text">Score: {{counter}}/{{ruleCount}}</p>
        <p class="reg-text">% mastery: {{calculateScore()}}%</p>
        <p class="reg-text">Wrong Clicks: {{wrongCount}}</p>
      </div>  
    </div>
  </div>
</div>