.nav.nav-tabs.flex-column {
    background-color: green;
    height: 100%;
}

#ruleTab.nav-tabs .nav-link.active, #allActivityTab.nav-tabs .nav-link.active, #allTestTab.nav-tabs .nav-link.active, #allProgressTab.nav-tabs .nav-link.active, #userTab.nav-tabs .nav-link.active {
background-color: #0d6efd;
}

.nav a {
    color: black;
}

.content {
    padding: 2em;
}

.col-2 {
    padding: 0;
}


#allProgressTabContent {
    padding: 2em
}

input {
    display: block;
    margin: 1em 0;
}

th.tcol {
    padding: 1em;
    text-align: left;
    width: 15em;
}

td {
    padding: 1em;
    text-align: center;
    
}

.tcol {
    text-align: left;
}

th.tcol.top {
    width: auto;
    text-align: right;
}

#resetForm, #allForm {
    text-align: center;
} 

table {
    margin: 0 auto;
}

#updateUserBtn, #resetPasswordBtn, #deleteAccBtn {
    margin-right: 1em;
}