<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-2">
            <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Dashboard</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="activity-tab" data-bs-toggle="tab" href="#activity" role="tab"
                        aria-controls="activity" aria-selected="false">View All Practice</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="scores-tab" data-bs-toggle="tab" href="#scores" role="tab"
                        aria-controls="scores" aria-selected="false">View Tests & Scores</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a (click)="generateGraph('ghunnah')" class="nav-link" id="progress-tab" data-bs-toggle="tab"
                        href="#progress" role="tab" aria-controls="progress" aria-selected="false">View All Progress</a>
                </li>
                <li *ngIf="user.account_type === 'teacher' || user.account_type === 'admin'" class="nav-item" role="presentation">
                    <a class="nav-link" id="students-tab" data-bs-toggle="tab"
                        href="#students" role="tab" aria-controls="students" aria-selected="false">View My Students</a>
                </li>
                <li *ngIf="user.account_type === 'admin'" class="nav-item" role="presentation">
                    <a class="nav-link" id="rules-tab" data-bs-toggle="tab"
                        href="#rules" role="tab" aria-controls="rules" aria-selected="false">Add/Edit Rules</a>
                </li>
                
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="user-tab" data-bs-toggle="tab" href="#user" role="tab" aria-controls="user"
                        aria-selected="false">Account Details</a>
                </li>
            </ul>
        </div>
        <div class="col-10 content">
            <div class="row d-flex">
                <div class="col-12 mb-3 text-center">
                    <h2>Hello {{user.first_name}} {{user.last_name}}!</h2>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row d-flex">
                        <div class="col-12 mt-3">
                            <h4 class="mb-4">Most Recent Activity</h4>
                            <div>
                                <ul class="nav nav-tabs" id="ruleTab" role="tablist">
                                    <li *ngFor="let r of ruleList; let i = index" class="nav-item" role="presentation">
                                        <a [ngClass]="i == 0 ? 'nav-link active' : 'nav-link'" id='{{r.code}}-tab'
                                            data-bs-toggle="tab" href='#{{r.code}}' role="tab"
                                            aria-controls='{{r.code}}'
                                            aria-selected="i == 0 ? true : false">{{r.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content pt-4" id="ruleTabContent">
                                <div *ngFor="let r of ruleList; let i = index"
                                    [ngClass]="i == 0 ? 'tab-pane fade show active' : 'tab-pane fade'" id='{{r.code}}'
                                    role="tabpanel" aria-labelledby="{{r.code}}-tab">
                                    <div
                                        *ngIf="stats[i].practice.length !== 0 || stats[i].test.length !== 0; else unworked">
                                        <p><b>Last Practice: </b><span
                                                *ngIf="stats[i].practice.length !== 0; else noPractice">{{stats[i].practice[0].practice_date
                                                | date: 'fullDate' : '+0000'}}</span>
                                            <ng-template #noPractice>No practice yet</ng-template>
                                        </p>
                                        <p><b>Last Test: </b><span
                                                *ngIf="stats[i].test.length !== 0; else noTest">{{stats[i].test[0].test_date
                                                | date: 'fullDate' : '+0000'}}</span>
                                            <ng-template #noTest>No test yet</ng-template>
                                        </p>
                                    </div>
                                    <ng-template #unworked>
                                        <p>No activity yet</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                    <div class="row d-flex">
                        <div class="col-12 mt-3">
                            <h4 class="mb-4">All Practice Activity</h4>
                            <div>
                                <ul class="nav nav-tabs" id="allActivityTab" role="tablist">
                                    <li *ngFor="let r of ruleList; let i = index" class="nav-item" role="presentation">
                                        <a [ngClass]="i == 0 ? 'nav-link active' : 'nav-link'" id='{{r.code}}All-tab'
                                            data-bs-toggle="tab" href='#{{r.code}}All' role="tab"
                                            aria-controls='{{r.code}}All'
                                            aria-selected="i == 0 ? true : false">{{r.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content pt-4" id="allActivityTabContent">
                                <div *ngFor="let r of ruleList; let i = index"
                                    [ngClass]="i == 0 ? 'tab-pane fade show active' : 'tab-pane fade'"
                                    id='{{r.code}}All' role="tabpanel" aria-labelledby="{{r.code}}All-tab">
                                    <div *ngIf="stats[i].practice.length !== 0; else prac">
                                        <div class="row d-flex">
                                            <div class="col-12 text-center">
                                                <h6><b>Total Ayah Practiced:
                                                    </b><span>{{stats[i].practice_ayah_count}}</span></h6>
                                            </div>
                                            <hr>
                                            <div class="col-12 mt-3">
                                                <div *ngFor="let item of stats[i].sorted_practice | keyvalue">
                                                    <div class="row d-flex">
                                                        <div class="col-12 col-md-6">
                                                            <p><b>Date: </b><span>{{item.key }}</span></p>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <p><b># of Ayah: </b><span>{{item.value.ayah_count}}</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #prac>
                                        <p>No practice yet</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="scores" role="tabpanel" aria-labelledby="scores-tab">
                    <div class="row d-flex">
                        <div class="col-12 mt-3">
                            <h4 class="mb-4">All Tests Activity & Scores</h4>
                            <div>
                                <ul class="nav nav-tabs" id="allTestTab" role="tablist">
                                    <li *ngFor="let r of ruleList; let i = index" class="nav-item" role="presentation">
                                        <a [ngClass]="i == 0 ? 'nav-link active' : 'nav-link'" id='{{r.code}}Test-tab'
                                            data-bs-toggle="tab" href='#{{r.code}}Test' role="tab"
                                            aria-controls='{{r.code}}Test'
                                            aria-selected="i == 0 ? true : false">{{r.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content pt-4" id="allTestTabContent">
                                <div *ngFor="let r of ruleList; let i = index"
                                    [ngClass]="i == 0 ? 'tab-pane fade show active' : 'tab-pane fade'"
                                    id='{{r.code}}Test' role="tabpanel" aria-labelledby="{{r.code}}Test-tab">
                                    <div *ngIf="stats[i].test.length !== 0; else test">
                                        <div class="row d-flex">
                                            <div class="col-12 col-md-6 text-center">
                                                <h6><b>Total Ayah Tested: </b><span>{{stats[i].test_ayah_count}}</span>
                                                </h6>
                                            </div>
                                            <div class="col-12 col-md-6 text-center">
                                                <h6><b>Cummulative Mastery:
                                                    </b><span>{{((stats[i].total_correct/stats[i].total_out_of) * 100).toFixed(1)}}%</span></h6>
                                            </div>
                                            <hr>
                                        </div>
                                        <div *ngFor="let tActivity of stats[i].test">
                                            <div class="row d-flex">
                                                <div class="col-12 col-md-3">
                                                    <p><b>Date: </b><span>{{tActivity.test_date | date: 'fullDate' : '+0000'}}</span></p>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <p><b># of Ayah: </b><span>{{tActivity.test_ayah_count}}</span></p>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <p><b>Score: </b><span>{{tActivity.test_score_composite}}</span></p>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <p><b>% Mastery:
                                                        </b><span>{{((tActivity.test_score_correct/tActivity.test_out_of_count)*100).toFixed(1)}}%</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #test>
                                        <p>No tests yet</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress-tab">
                    <div class="row d-flex">
                        <div class="col-12 mt-3">
                            <h4 class="mb-4">Progress</h4>
                            <div>
                                <ul class="nav nav-tabs" id="allProgressTab" role="tablist">
                                    <li *ngFor="let r of ruleList; let i = index" class="nav-item" role="presentation">
                                        <a (click)="generateGraph(r.code)"
                                            [ngClass]="i == 0 ? 'nav-link active' : 'nav-link'" id='{{r.code}}Line-tab'
                                            data-bs-toggle="tab" href='#{{r.code}}Line' role="tab"
                                            aria-controls='{{r.code}}Line'
                                            aria-selected="i == 0 ? true : false">{{r.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content pt-4" id="allProgressTabContent">
                                <div *ngFor="let r of ruleList; let i = index"
                                    [ngClass]="i == 0 ? 'tab-pane fade show active' : 'tab-pane fade'"
                                    id='{{r.code}}Line' role="tabpanel" aria-labelledby="{{r.code}}Line-tab">
                                    <div *ngIf="stats[i].test.length !== 0; else test">
                                        <div class="row d-flex">
                                            <div class="col-9">
                                                <svg id='{{r.code}}' width="auto" height="75vh"></svg>
                                            </div>
                                            <div class="col-3">
                                                <div><b># of Ayah: </b><span>{{stats[i].test_ayah_count}}</span></div>
                                                <div><b>Total % Mastery: </b><span>{{((stats[i].total_correct/stats[i].total_out_of)*100).toFixed(1)}}%</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #test>
                                        <p>No tests yet</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="students" role="tabpanel" aria-labelledby="students-tab">
                    <div class="row d-flex">
                        <div class="col-12 mt-3">
                            <h4 class="mb-4">My Students</h4>
                            <form class="form-inline" id="addStudent" [formGroup]="studentForm" (submit)="addStudent()">
                                <input class="student-input" formControlName="student_username" id="student_username" placeholder="Student Username">
                                <input class="student-input" formControlName="student_firstName" id="student_firstName" placeholder="Student First Name">
                                <input class="student-input" formControlName="student_lastName" id="student_lastName" placeholder="Student Last Name">
                                
                                <button id="updateUserBtn" type="submit" class='btn btn-primary btn-sm'>Add New Student</button>
                                <span class="text-success ml-3" *ngIf="studentAdded">Successfully added new student!</span>
                                <span class="text-danger ml-3" *ngIf="error">Oops, we could not find this user</span>
                            </form>

                            <hr/>
                             
                                <div class="student-list">
                                    <div *ngIf="student_list.length === 0">
                                        <p>No students added yet</p>
                                    </div>
                                    <div class="card mb-1" *ngFor="let s of student_list | keyvalue">
                                        <div class="card-header" id="heading-{{s.value.username}}">
                                         <h6 class="mb-0">
                                            <a target="_blank" routerLink='/student-account/{{user.username}}/{{s.value.username}}'>{{s.value.first_name}} {{s.value.last_name}} | {{s.value.username}}</a>    
                                            <span (click)="removeStudent(s.value.username)" style="float: right; color: red"><i data-toggle="tooltip" data-placement="top" title="Remove student" class="fa fa-trash"></i></span>
                                        </h6>
                                        </div>
                                    </div>
                
                              </div>
                          
                    </div>
                </div>
                </div>

                <div class="tab-pane fade" id="rules" role="tabpanel" aria-labelledby="rules-tab">
                    <div class="row d-flex">
                        <div class="col-12 mt-3">
                            <button (click)="openModal(handleRule); ruleHandling('add');" class="btn btn-primary btn-lg">Add New Rule</button>

                            <span class="text-success ml-3" *ngIf="ruleAddSuccess">Successfully added new rule!</span>
                            <span class="text-success ml-3" *ngIf="ruleEditSuccess">Successfully edited rule!</span>

                            <span class="text-danger ml-3" *ngIf="error">Oops, we could not add this rule.</span>
                            <ng-template #handleRule>
                                <div class="modal-header">                                   
                                    <h4 class="modal-title pull-left">
                                        <span *ngIf="this.editMode">Edit Tajweed Rules</span>
                                        <span *ngIf="!this.editMode">Add New Tajweed Rules</span>
                                    </h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form class="form-inline" id="addRule" [formGroup]="ruleForm" (submit)="processRule(); modalRef.hide()">
                                        <input *ngIf="this.editMode" class="rule-input" formControlName="rule_code" id="rule_code" placeholder="Code (idghaam_ghunnah)" disabled>
                                        <input *ngIf="!this.editMode" class="rule-input" formControlName="rule_code" id="rule_code" placeholder="Code (idghaam_ghunnah)">

                                        <input class="rule-input" formControlName="rule_name" id="rule_name" placeholder="Name (Idghaam w/ Ghunnah)">
                                        <textarea class="rule-input" formControlName="rule_summary" id="rule_summary" placeholder="Summary" rows="3"></textarea>
                                        <textarea class="rule-input" formControlName="rule_details" id="rule_details" placeholder="Details" rows="10"></textarea>
                                        <input class="rule-input" formControlName="rule_example" id="rule_example" placeholder="Example">
                                        <input class="rule-input" formControlName="rule_audio" id="rule_audio" placeholder="Audio Link">
                                        <label for="rule_with_exercise">With Exercise</label>
                                        <input type="checkbox" class="rule-input checkbox" formControlName="rule_with_exercise" id="rule_with_exercise" placeholder="With Exercise">
                                        <hr />

                                        <button *ngIf="this.editMode" id="updateRuleBtn" type="submit" class='btn btn-primary'>Edit Rule</button>
                                        <button *ngIf="!this.editMode" id="updateRuleBtn" type="submit" class='btn btn-primary'>Add Rule</button>

                                        <button id="cancel" type="button" class="btn btn-secondary close" aria-label="Close" (click)="modalRef.hide()">
                                            Cancel
                                          </button>
                                        
                                       
                                    </form>                              
                                  </div>
                            </ng-template>
       

                            <hr/>
                             
                                <div class="rule-list">
                                    <div *ngIf="ruleList.length === 0">
                                        <p>No rules fetched yet</p>
                                    </div>
                                    <div class="card mb-1" *ngFor="let r of ruleList">
                                        <div class="card-header" id="heading-{{r.code}}">
                                         <h6 class="mb-0">
                                            {{r.name}}
                                            <span (click)="deleteRule(r.code)" style="float: right; color: red"><i data-toggle="tooltip" data-placement="top" title="Delete Rule" class="fa fa-trash"></i></span>
                                            <span (click)="openModal(handleRule); ruleHandling(r.code)" style="float: right; color: green"><i data-toggle="tooltip" data-placement="top" title="Edit Rule" class="fa fa-edit"></i></span>   
                                        </h6>
                                        </div>
                                    </div>
                
                              </div>
                          
                    </div>
                </div>
                </div>


                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <div class="row d-flex">
                        <div class="col-12 mt-3">
                            <h4 class="mb-4">Account Details</h4>
                            <div>
                                <ul class="nav nav-tabs" id="userTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile"
                                            role="tab" aria-controls="profile" aria-selected="true">User Profile</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="reset-tab" data-bs-toggle="tab" href="#reset" role="tab"
                                            aria-controls="reset" aria-selected="false">Reset Stats</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content pt-4" id="userTabContent">
                                <div class="tab-pane fade show active" id="profile" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <div class="row d-flex">
                                        <div class="col">
                                            <h5>Edit User Profile</h5>
                                            <form id="editUserForm" [formGroup]="editForm" (submit)="editProfile()">
                                                <input formControlName="username" id="username" placeholder="username" disabled>
                                                <input formControlName="first_name" id="first_name" placeholder="First Name">
                                                <input formControlName="last_name" id="last_name" placeholder="Last Name">
                                                <input formControlName="email" id="email" placeholder="Email">
                                                <button id="updateUserBtn" type="submit" class='btn btn-primary'>Update User</button>
                                                <span class="text-success ml-3" *ngIf="userUpdated">User successfully updated!</span>
                                                <span class="text-danger ml-3" *ngIf="error">Oops, something went wrong! Please try again.</span>
                                            </form>
                                        </div>
    
                                        <div class="col">
                                            <h5>Reset Password</h5>
                                            <form id="resetPassword" [formGroup]="passwordForm" (submit)="resetPassword()">
                                                <input formControlName="username" id="username" placeholder="username" disabled>
                                                <input formControlName="current" id="current" placeholder="Current Password">
                                                <input formControlName="new" id="new" placeholder="New Password">
                                                <button type="submit" id="resetPasswordBtn" class="btn btn-primary">Reset Password</button> <span class="text-success ml-3" *ngIf="passwordUpdated">Password successfully reset!</span>
                                            </form>
                                        </div>

                                        <div class="col">
                                            <h5>Delete Account</h5>
                                            <button type="button" class="btn btn-danger btn-lg" (click)="openModal(template)">Delete Account Permanently</button>
 
                                            <ng-template #template>
                                              <div class="modal-header">
                                                <h4 class="modal-title pull-left">Are you sure?</h4>
                                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                  <p> If you delete your account permanently, you will lose all your tests and practie stats permanently.</p>
                                                  <form id="deleteUser" [formGroup]="deleteForm" (submit)="deleteUser(); modalRef.hide()">
                                                    <input formControlName="username" id="username" placeholder="username" disabled>
                                                    <input formControlName="password" id="password" placeholder="Current Password">
                                                    <hr/>
                                                    <button id="deleteAccBtn" type="button" class="btn btn-secondary close" aria-label="Close" (click)="modalRef.hide()">
                                                        Cancel
                                                      </button>
                                                      <button type="submit" class="btn btn-danger">
                                                        Delete
                                                      </button>
                                                </form>
                                            
                                              </div>
                                            </ng-template>
                                               
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="reset" role="tabpanel" aria-labelledby="reset-tab">
                                    <div class="row d-flex">
                                        <div class="col-12">
                                            <form>
                                                <table>
                                                    <tr>
                                                        <th class="tcol"></th>
                                                        <th class="tcol top">Practice</th>
                                                        <th class="tcol top">Test</th>
                                                    </tr>
                                                </table>
                                                <table>
                                                    <tr style="border-bottom: 1px solid gray">
                                                        <th class="tcol">Reset Everything</th>
                                                        <td><input type="checkbox" id="allP" name="allP" value="all-practice" (click)="togglePracticeCheck($event)"></td>
                                                        <td><input type="checkbox" id="allT" name="allT" value="all-test" (click)="toggleTestCheck($event)"></td>                                                            
                                                    </tr>
                                                </table>                
                                            </form>
                                            


                                            <form id="resetForm" [formGroup]="resetForm" (submit)="resetStats()">
                                            <table>            
                                                <tr *ngFor="let r of ruleList">
                                                    <th class="tcol">{{r.name}}</th>
                                                    <td><input type="checkbox" id="{{r.code}}P" name="{{r.code}}P" value="{{r.code}}-practice" formControlName="{{r.code}}-practice"></td>
                                                    <td><input type="checkbox" id="{{r.code}}T" name="{{r.code}}T" value="{{r.code}}-test" formControlName="{{r.code}}-test"></td>     
                                                </tr>
                                                <!-- <tr>
                                                    <th class="tcol">Idghaam w/ Ghunnah</th>
                                                    <td><input type="checkbox" id="idghaamGhunnahP" name="idghaamGhunnahP" value="idghaamGhunnah-practice" formControlName="idghaamGhunnah_practice"></td>
                                                    <td><input type="checkbox" id="idghaamGhunnahT" name="idghaamGhunnahT" value="idghaamGhunnah-test" formControlName="idghaamGhunnah_test"></td>     
                                                </tr>
                                                <tr>
                                                    <th class="tcol">Idghaam w/ No Ghunnah</th>
                                                    <td><input type="checkbox" id="idghaamNoGhunnahP" name="idghaamNoGhunnahP" value="idghaamNoGhunnah-practice" formControlName="idghaamNoGhunnah_practice"></td>
                                                    <td><input type="checkbox" id="idghaamNoGhunnahT" name="idghaamNoGhunnahT" value="idghaamNoGhunnah-test" formControlName="idghaamNoGhunnah_test"></td>     
                                                </tr>
                                                <tr>
                                                    <th class="tcol">Ikhfa</th>
                                                    <td><input type="checkbox" id="ikhfaP" name="ikhfaP" value="ikhfa-practice" formControlName="ikhfa_practice"></td>
                                                    <td><input type="checkbox" id="ikhfaT" name="ikhfaT" value="ikhfa-test" formControlName="ikhfa_test"></td>     
                                                </tr>
                                                <tr>
                                                    <th class="tcol">Iqlab</th>
                                                    <td><input type="checkbox" id="iqlabP" name="iqlabP" value="iqlab-practice" formControlName="iqlab_practice"></td>
                                                    <td><input type="checkbox" id="iqlabT" name="iqlabT" value="iqlab-test" formControlName="iqlab_test"></td>     
                                                </tr>
                                                <tr>
                                                    <th class="tcol">Madd - 2, 4 or 6</th>
                                                    <td><input type="checkbox" id="madd246P" name="madd246P" value="madd246-practice" formControlName="madd246_practice"></td>
                                                    <td><input type="checkbox" id="madd246T" name="madd246T" value="madd246-test" formControlName="madd246_test"></td>     
                                                </tr>
                                                <tr>
                                                    <th class="tcol">Long Madd</th>
                                                    <td><input type="checkbox" id="maddP" name="maddP" value="madd-practice" formControlName="madd_practice"></td>
                                                    <td><input type="checkbox" id="maddT" name="maddT" value="madd-test" formControlName="madd_test"></td>     
                                                </tr>
                                                <tr>
                                                    <th class="tcol">Qalqalah</th>
                                                    <td><input type="checkbox" id="qalqalahP" name="qalqalahP" value="qalqalah-practice" formControlName="qalqalah_practice"></td>
                                                    <td><input type="checkbox" id="qalqalahT" name="qalqalahT" value="qalqalah-test" formControlName="qalqalah_test"></td>     
                                                </tr>                                                 -->
                                            </table>

                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>